<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>EMPLOYEE MANAGEMENT SYSTEM</display-name>
  <welcome-file-list>
    <welcome-file>FirstPage.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>InsertServlet</display-name>
    <servlet-name>InsertServlet</servlet-name>
    <servlet-class>edu.iit.servlet.InsertServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertServlet</servlet-name>
    <url-pattern>/InsertServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DepartmentServlet</display-name>
    <servlet-name>DepartmentServlet</servlet-name>
    <servlet-class>edu.iit.servlet.DepartmentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DepartmentServlet</servlet-name>
    <url-pattern>/DepartmentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateServlet</display-name>
    <servlet-name>UpdateServlet</servlet-name>
    <servlet-class>edu.iit.servlet.UpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateServlet</servlet-name>
    <url-pattern>/UpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DelServlet</display-name>
    <servlet-name>DelServlet</servlet-name>
    <servlet-class>edu.iit.servlet.DelServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelServlet</servlet-name>
    <url-pattern>/DelServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AppraisalServlet</display-name>
    <servlet-name>AppraisalServlet</servlet-name>
    <servlet-class>edu.iit.servlet.AppraisalServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AppraisalServlet</servlet-name>
    <url-pattern>/AppraisalServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginemployeeServlet</display-name>
    <servlet-name>LoginemployeeServlet</servlet-name>
    <servlet-class>edu.iit.servlet.LoginemployeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginemployeeServlet</servlet-name>
    <url-pattern>/LoginemployeeServlet</url-pattern>
  </servlet-mapping>
</web-app>